@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    scroll-behavior: smooth;
}
body{
background-color: black;
color: aliceblue;;
}
nav{
    background: white;
    width: 380px;
    display: inline;
    justify-content: space-between;
    padding: 0;
    border-radius: 22px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0%;
}

nav > a {
color: black;
text-decoration: none;
padding: 8px 16px;
border-radius: 22px;
}

nav > a:hover {
    transition: 0.20s;
    background: rgb(54, 111, 157);
    color: white;
}
.logo{
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
}
nav ul li{
    display: block;
    margin-block-end: 20px
}
footer{
    background-color: rgb(44, 44, 97);
}
